/* Century Schoolbook font is very similar to Computer Modern Math: cmmi */
.MATH    { font-family: "Century Schoolbook", serif; }
.MATH I  { font-family: "Century Schoolbook", serif; font-style: italic }
.BOLDMATH { font-family: "Century Schoolbook", serif; font-weight: bold }

/* implement both fixed-size and relative sizes */
SMALL.XTINY		{ font-size : xx-small }
SMALL.TINY		{ font-size : x-small  }
SMALL.SCRIPTSIZE	{ font-size : smaller  }
SMALL.FOOTNOTESIZE	{ font-size : small    }
SMALL.SMALL		{  }
BIG.LARGE		{  }
BIG.XLARGE		{ font-size : large    }
BIG.XXLARGE		{ font-size : x-large  }
BIG.HUGE		{ font-size : larger   }
BIG.XHUGE		{ font-size : xx-large }

/* heading styles */
H1		{  }
H2		{  }
H3		{  }
H4		{  }
H5		{  }

/* mathematics styles */
DIV.displaymath		{ }	/* math displays */
TD.eqno			{ }	/* equation-number cells */


/* document-specific styles come next */
DIV.navigation		{   }
SPAN.textit		{ font-style: italic  }
SPAN.arabic		{   }
SPAN.textbf		{ font-weight: bold  }
#hue104		{ color: #ff0000;  }
#hue16		{ color: #0000ff;  }
#hue230		{ color: #ff0000;  }
#hue254		{ color: #ff0000;  }
#hue258		{ color: #ff0000;  }
#hue306		{ color: #ff0000;  }
#hue33		{ color: #000000;  }
#hue340		{ color: #ff0000;  }
#hue345		{ color: #ff0000;  }
#hue350		{ color: #ff0000;  }
#hue358		{ color: #ff0000;  }
#hue360		{ color: #ff0000;  }
#hue366		{ color: #ff0000;  }
#hue371		{ color: #ff0000;  }
#hue377		{ color: #ff0000;  }
#hue420		{ color: #000000;  }
#hue450		{ color: #ff0000;  }
#hue453		{ color: #ff0000;  }
#hue455		{ color: #ff0000;  }
#hue457		{ color: #ff0000;  }
#hue459		{ color: #ff0000;  }
#hue461		{ color: #ff0000;  }
#hue463		{ color: #ff0000;  }
#hue477		{ color: #000000;  }
#hue481		{ color: #000000;  }
#hue503		{ color: #000000;  }
#hue507		{ color: #000000;  }
#hue518		{ color: #ff0000;  }
#hue529		{ color: #ff0000;  }
#hue530		{ color: #ff0000;  }
#hue534		{ color: #ff0000;  }
#hue545		{ color: #ff0000;  }
#hue546		{ color: #ff0000;  }
#hue555		{ color: #ff0000;  }
#hue556		{ color: #ff0000;  }
#hue560		{ color: #ff0000;  }
#hue561		{ color: #ff0000;  }
#hue563		{ color: #ff0000;  }
#hue565		{ color: #ff0000;  }
#hue567		{ color: #ff0000;  }
#hue570		{ color: #ff0000;  }
#hue571		{ color: #ff0000;  }
#hue573		{ color: #ff0000;  }
#hue574		{ color: #ff0000;  }
#hue576		{ color: #ff0000;  }
#hue577		{ color: #ff0000;  }
